<div class="navbar navbar-default">
  <h1 class="navbar-brand">Welcome to the <em>Task Manager</em></h1>
</div>
<ul class="jumbotron" id="dashboard_list">
  <li><a class='btn btn-default' href="/tasks">Task Index</a></li>
  <li><a class='btn btn-default' href="/tasks/new">New Task</a></li>
</ul>
