<div class="navbar navbar-default">
  <h1 class="navbar-brand"><%= @task.title.capitalize %></h1>
  <ul class='nav navbar-right col-md-2'>
    <li><a href = "/">Home</a></li>
    <li><a href = "/tasks">Task Index</a></li>
  </ul>
</div>
<div class="jumbotron">
  <h2>Description:<h2>
  <p><%= @task.description %></p>
</div>
